		/* PushPull Widget */

		.my_col_2 #menu-mymenu {
		    list-style: none;
		    display: flex;
		    align-items: flex-start;
		    justify-content: flex-end;
		}

		.my_col_2 #menu-mymenu li {
			margin-left: 20px;
		}

		.my_col_2 #menu-mymenu li a {
			font-family: 'Krub', sans-serif;
		}

		.my_col_2 .sub-menu {
		    list-style: none;
		    padding-left: 0px;
		    width: 22px;
		    display: none;
		    margin: auto;
		    max-width: 100px;
		    margin-left: 0px;
		}

		.my_col_2 .sub-menu:before {
		    content: "";
		    display: block;
		    margin: 0 0;
		    width: 22px;
		    padding-top: 10px;
		    border-bottom: 1px solid #8E834A;
		}

		.my_col_2 #menu-mymenu .sub-menu li {
			padding-top: 10px;
			width: 500px;
			margin-left: 0px;
		}

		.revealSub .sub-menu {
			display: block;
		}

		.my_col_2 #menu-mymenu li a {
			font-weight: 400;
			text-transform: uppercase;
			color: #fff;
			font-size: 12px;
			letter-spacing: 1px;
		}

		.elementor-widget-hello-world {
			width: 100%;
		}

		.my_row {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		.my_col_1 {
			width: 20%;
		}

		.my_col_1 img {
			width: 200px;
		}

		.my_col_2 {
			width: 50%;
	    margin-left: 0%;
			padding-top: 10px;
		}

		.my_col_2 .menu-mymenu {
			padding-left: 50px;
	    padding-right: 20px;
		}

		.my_col_3 {
			width: 25%;
	    margin-left: 0%;
	    display: flex;
	    justify-content: space-between;
			padding-top: 3px;
		}

		.my_col_3 a, .my_col_3 a:hover, .my_col_3 a:focus, .my_col_4 a, .my_col_4 a:hover, .my_col_4 a:focus, .my_col_7 a, .my_col_7 a:hover, .my_col_7 a:focus {
			display: block;
	    width: 144px;
	    text-align: center;
	    border: solid 1px #fff;
	    font-size: 12px;
	    text-transform: uppercase;
	    color: #fff;
	    font-weight: 400;
	    letter-spacing: 1px;
	    padding: 10px 0px;
	    margin-left: 20px;
		}

		.my_col_7 a, .my_col_7 a:hover, .my_col_7 a:focus {
			display: block;
			margin: auto;
			margin-top: 15px;
		}

		.my_col_4, .my_col_5, .my_col_6, .my_col_7 {
			display: none;
		}

		.my_col_5 {
			width: 100%;
			list-style: none;
			margin-top: 15px;
			padding-top: 15px;
			border-top: solid 1px #fff;
			max-height: 0px;
    	overflow: hidden;
    	transition: all .2s ease;
		}

		.my_col_5.drop {
			max-height: 300px;
		}

		.my_col_5 .sub-menu, .my_col_6 .sub-menu {
			display: block;
			padding-left: 0px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.my_col_5 .sub-menu:before, .my_col_5 .sub-menu:after, .my_col_6 .sub-menu:before, .my_col_6 .sub-menu:after  {
		    content: "";
		    display: block;
		    margin: 0 auto;
		    width: 22px;
		    border-bottom: 1px solid #8E834A;
		}

		.my_col_5 #menu-mymenu-1, .my_col_6 #menu-mymenu-1 {
			padding-left: 0px;
	    list-style: none;
	    text-align: center;
		}

		.my_col_5 #menu-mymenu-1 li a, .my_col_6 #menu-mymenu-1 li a {
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
		}

		.my_col_5 #menu-mymenu-1 .sub-menu li a, .my_col_6 #menu-mymenu-1 .sub-menu li a {
			font-size: 12px;
		}

		.my_col_6, .my_col_7 {
			width: 100%;
			text-align: center;
		}

		.my_col_6 ul {
			padding-left: 0px;
			list-style: none;
		}

		.my_col_6 .sub-menu li a {
			color: #fff;
			font-size: 12px;
			text-transform: uppercase;
		}

		.my_col_6 li a {
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
		}

		.trigger2 {
		    margin-top: 25px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #fff;
		    background: #fff3;
		    cursor: pointer;
		}

		.dropdown {
			max-height: 0px;
			overflow: hidden;
			transition: all .2s ease;
		}

		.dropdown.dropped {
			max-height: 350px;
		}



		@media only screen and (max-width: 1150px) {
		  .my_col_2, .my_col_3 {
		    display: none;
		  }
			.my_col_1 {
				width: 50%;
			}
			.my_col_4 {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				width: 50%;
			}
			.trigger {
				display: block;
				margin-right: 0px;
				width: 25px;
				cursor: pointer;
				margin-left: 20px;
			}
			.my_row {
				align-items: center;
			}
			.my_col_5 {
				display: block;
			}
		}


		@media only screen and (max-width: 767px) {
			.my_col_4, .my_col_5 {
		    display: none;
		  }
			.my_col_6, .my_col_7 {
				display: block;
			}
			.my_col_1 {
				width: 100%;
			}
			.my_col_1 a, .my_col_1 img {
				display: block;
				margin: auto;
			}

		}




		/* Special Post Loop */


		.CustomPost {
			display: flex;
		}

		.CustomPost:nth-child(even) {
			flex-direction: row-reverse;
		}

		.custom-content, .featured-image {
			width: 50%;
		}

		.featured-image {
			background-position: center center;
			background-size: cover;
		}

		.custom-content {
		    padding-top: 50px;
		    padding-bottom: 50px;
		    padding-right: 50px;
		}

		.CustomPost hr {
			width: 400px;
		}

		.CustomPost small {
			text-transform: uppercase;
			font-family: "Krub";
			display: block;
			margin-top: 15px;
		}

		.CustomPost h2 {
		    font-size: 25px;
		    margin-bottom: 50px;
		    margin-top: 30px;
		    max-width: 500px;
		}

		.CustomPost h2 a {
			color: #273375;
		}

		.read-more {
			font-size: 14px;
		    font-family: "Krub";
		    text-transform: uppercase;
		    color: #2A439B;
		    letter-spacing: 2px;
		    font-weight: bold;
		    border: solid 3px;
		    padding: 10px 25px;
		}

		/* Special Post Loop */


		.CustomPost {
			display: flex;
		}

		.post:nth-child(even) .CustomPost {
		flex-direction: row-reverse;
		}

		.custom-content, .featured-image {
			width: 50%;
		}

		.featured-image {
			background-position: center center;
			background-size: cover;
		}

		.custom-content {
		    padding-top: 75px;
		    padding-bottom: 75px;
		    padding-right: 50px;
				padding-left: 50px
		}

		.CustomPost hr {
			width: 400px;
		}

		.CustomPost small {
			text-transform: uppercase;
			font-family: "Krub";
			display: block;
			margin-top: 15px;
		}

		.CustomPost h2 {
		    font-size: 25px;
		    margin-bottom: 50px;
		    margin-top: 30px;
		}

		.CustomPost h2 a {
			color: #273375;
		}

		.read-more, .read-more:focus, .read-more:hover {
			font-size: 14px;
		    font-family: "Krub";
		    text-transform: uppercase;
		    color: #2A439B;
		    letter-spacing: 2px;
		    font-weight: bold;
		    border: solid 3px;
		    padding: 10px 25px;
		}

		@media only screen and (max-width: 767px) {
			.custom-content {
				padding-top: 50px;
				padding-bottom: 50px;
				padding-right: 15px;
				padding-left: 15px
			}
			.CustomPost {
				display: flex;
				flex-wrap: wrap;
				flex-direction: row-reverse;
			}
			.custom-content, .featured-image {
				width: 100%;
			}
			.featured-image {
				min-height: 250px;
			}
		}

		/* FOOTER WIDGET */

		.footer-widget li a {
			color: #fff;
			font-family: "Krub";
			font-weight: 500;
			letter-spacing: 1.5px;
			font-size: 14px
		}

		.footer-widget .menu {
			display: flex;
			justify-content: space-between;
			padding-left: 0px;
			list-style: none;
		}

		.footer-widget ul {
			padding-left: 0px;
			list-style: none;
		}

		.footer-widget .sub-menu:before {
			content: "";
			display: block;
			margin: 0 0;
			width: 22px;
			border-bottom: 1px solid #8E834A;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		.footer-widget .sub-menu li a {
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 10px;
			display: block;
		}

		@media only screen and (max-width: 1200px) {
			.footer-widget li a {
				font-size: 12px;
			}
			.footer-widget li {
			    max-width: 150px;
			    min-width: 100px;
			}
		}

		@media only screen and (max-width: 767px) {
			.footer-widget .menu {
				display: block;
			}
			.footer-widget li {
			    width: 100%;
			    max-width: 100%;
			    min-width: 100%;
			    margin-bottom: 15px;
			}
			.footer-widget .sub-menu li a {
				margin-bottom: 0px;
			}
		}

		/* FAQs */


		.faq-list {
			text-align: center;
		}

		.faq-item {
		    font-size: 14px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #9B9B9B;
		    padding-left: 15px;
		    padding-right: 15px;
		    cursor: pointer;
		}

		.faq-item.selected {
		    font-size: 14px;
		    text-transform: uppercase;
		    color: #8E834A;
		    letter-spacing: 1px;
		    font-weight: 500;
		    text-decoration: underline;
		    padding-left: 15px;
		    padding-right: 15px;
		}

		.faq-tab-1 {
			display: none;
		}

		.faq-tab-1.selected {
			display: block;
		}

		.faq-tabs {
			margin-top: 50px;
		}

		.faq-box {
			display: flex;
			justify-content: space-between;
		}

		.faq-content-inner {
			width: 47%;
		}

		.faq-content-inner h3 {
		    font-family: "Crimson Text";
		    color: #273375;
		    font-size: 24px;
		}

		.faq-content-inner p {
		    font-size: 14px;
		    line-height: 25px;
		    letter-spacing: 1px;
		}

		.faq-content-inner a, .faq-content-inner a:hover, .faq-content-inner a:focus {
			font-size: 14px;
			color: #17215A;
			text-decoration: underline;
			font-weight: bold;
		}

		@media only screen and (max-width: 767px) {
			.faq-box {
				display: block;
			}
			.faq-content-inner {
				width: 100%;
			}
		}
		/* Currency Tool */

		.conversion_app * {
		   font-family: "News Cycle",Sans-serif;
		}

		.conversion_app a, .conversion_app a:hover, .conversion_app a:focus {
			text-decoration: none !important;
		}

		.conversion_app p {
		  margin: 0px;
		}

		.conversion_app {
		  display: block;
		  margin: auto;
		  padding-top:0px;
		  padding-bottom:0px;
		}

		.conversion_app .conversion_app_1 {
			width: 100%;
			padding: 0px 10px;
			font-size: 14px;
			border: solid 1px #205B41;
			background: #fff;
			display: flex;	
			justify-content: space-between;
			border-radius: 5px;
		}

		.conversion_app .conversion_app_1a {
			padding-top: 12px;
			border-radius: 5px;
		}

		.conversion_app .conversion_app_1b {
			display: flex;
			align-items: center;
			padding: 30px 20px;
			border-left: solid 1px;	
		}

		.conversion_app .conversion_app_1b img {
			width: 15px;
			margin-right: 5px;	
		}

		.conversion_app .conversion_app_1b .currencyAbreviation, .currencyAbreviation_2, .currencyAbreviationOption {
			font-weight: bold;	
		}

		.currencyAbreviationOption {
			font-size: 12px;
			padding-left: 5px;
		}

		.conversion_app .conversion_app_2a {
		  border-left: solid 1px #205B41;
		  margin-left: 15px;
		  padding-top: 10px;
		  padding-bottom: 10px;
		}

		.conversion_app .usd {
		width: 100%;
		padding: 5px 0px;
		font-size: 18px;
		border: 0px;
		}

		.conversion_app .rate_button {
		  text-align: center;
		  display: block;
		  padding: 15px 25px;
		  background: #205B41;
		  color: #fff;
		  cursor: pointer;
		  font-size: 16px;
		  transition: .2s ease;
		  border-radius: 5px;	
		}

		.conversion_app .rate_button:hover {
		  background: #205B41;
		  transition: .2s ease;
		  border-radius: 5px;	
		}

		.conversion_app .resultBox {
		  padding: 0px 10px;
		  padding-right: 0px;
		  border: solid 1px #205B41;
		  margin-bottom: 15px;
		}

		.conversion_app .result {
		  font-size: 20px;
		  font-weight: bold;
		  opacity: 0;
		  transition: all .2s;	
		}

		.conversion_app .result.fadeEffect {
		  opacity: 1;
		}

		.conversion_app .rate {
		    display: list-item;
		    list-style-type: disc;
		    list-style-position: inside;
		    color: #205B41;
		    margin-left: -3px;
		    padding-top: 10px;
		    padding-bottom: 10px;
		}

		.conversion_app .fee {
		  text-align: left;
		  font-size: 16px;
		  display: list-item;
		  list-style-type: disc;
		  list-style-position: inside;
		  margin-left: -3px;
		  padding-top: 10px;
		  padding-bottom: 10px;
		  color: #205B41;
		}

		.conversion_app .rate span, .conversion_app .fee span {
		  color: #000;
		  font-weight: bold;
		  font-size: 14px
		}

		.conversion_app .rate span {
			font-weight: 300;
		}

		.conversion_app .recipientGets {
		  font-size: 12px;
		}

		.resultBox {
		  display: flex;
		  justify-content: space-between;	
		  border-radius: 5px;	
		}

		.destinationSelected {
	transition: all .2s;
    background: 0 0;
    border-left: solid 1px;
    cursor: pointer;
    max-height: 80px;
    display: flex;
	padding: 30px 20px;		
		}

		.destinationSelected.hover {
			background: #eff4f2;	
		}

		.destinationSelector {
		  overflow: hidden;
		  max-height: 0px;
		}

		.destinationSelector span, .destinationSelected span {
		  display: block;
		  cursor: pointer;
		}

		.resultBox {
			position: relative;	
		}

		.destinationSelector {
			right: 0px;
			position: absolute;
			width: 200px;
			top: 0px;
			background: #fff;
			border-radius: 5px;
			transition: all .2s;
		}

		.destinationSelector.active {
		  overflow: hidden;
		  max-height: 200px;
		  padding: 10px;
		  border: solid 1px #cdcdcd;
		}

		.destinationSelectorHeader {
			padding-bottom: 5px;
			border-bottom: solid 1px rgba(0, 0, 0, 0.1);
			margin-bottom: 5px;	
		}

		.destinationSelectorHeader p {
			font-size: 12px;
			color: rgba(0, 0, 0, 0.5)
		}

.destinationOptions div {
	display: flex;
    padding: 5px;
    align-items: center;	
	border-radius: 5px;	
	transition: all .2s;
}

.destinationOptions div img {
    width: 20px;	
}

.destinationOptions div .currencyAbreviation {
    font-size: 12px;
    padding-left: 5px;
    font-weight: bold;	
}

.destinationOptions div .currencyCountry {
	font-size: 12px;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.65);	
}

.destinationOptions div.active {
    background: #eff4f2;
    border-radius: 5px;	
}

.resultBox_left {
	padding-top: 15px;
    padding-bottom: 15px;	
}

.destinationSelected {
	transition: all .2s;
	background: transparent;
	border-left: solid 1px;	
	cursor: pointer;
}

.destinationSelected.hover {
	background: #eff4f2;
}

.destinationSelected img {
    width: 20px;
    margin-right: 5px;	
}

.destinationSelected .currencyAbreviation {
	font-size: 14px;
    font-weight: bold;	
}

.conversion_app input::-webkit-credentials-auto-fill-button {
	visibility: hidden !important;
}

.conversion_app input::-webkit-textfield-decoration-container {
    visibility: hidden !important;
}

.conversion_app input::-webkit-contacts-auto-fill-button {
	visibility: hidden !important;
}

.conversion_app input::-webkit-credentials-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    right: 0;
}

		/* Carousel */

		.carousel-widget .myrow {
			display: flex;
	    align-items: center;
	    justify-content: space-between;
		}

		.carousel-widget .imageLeft {
			width: 60%;
	    height: 450px;
	    background-position: center;
	    background-size: cover;
	    background-repeat: no-repeat;
		}

		.carousel-widget .bodyRight {
			width: 40%;
			padding-left: 50px;
			max-width: 412px;
		}

		.owl-nav {
			position: absolute;
	    right: 0px;
	    bottom: 20px;
		}

		.carousel-widget .owl-next, .carousel-widget .owl-prev {
			font-size: 30px !important;
			margin-left: 10px !important;
			margin-right: 10px !important;
		}

		.carousel-widget h5 {
			font-size: 20px;
			color: #283884;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 3px;
			font-family: 'Work Sans';
		}

		.carousel-widget h3 {
			font-size: 35px;
	    font-family: 'Roboto Slab';
	    font-weight: bold;
	    color: #DD2327;
	    margin-top: 50px;
	    margin-bottom: 0px;
		}

		.carousel-widget p {
			font-size: 14px;
			color: #000000;
			font-family: 'Work Sans';
		}

		.carousel_body {
			margin-bottom: 75px;
		}

		@media only screen and (max-width: 767px) {
			.carousel-widget .myrow {
				display: block;
			}
			.carousel-widget .imageLeft {
				height: 250px;
				width: 100%;
			}
			.carousel-widget .bodyRight {
				width: 100%;
				padding-left: 0px;
			}
			.carousel-widget h3 {
				margin-top: 25px;
			}
			.carousel_body {
				margin-bottom: 25px;
			}
		}

		/* Tabs */

		.tabsImage {
			height: 450px;
			width: 60%;
		}

		.tabs-widget .faq-content-inner {
			width: 40%;
			padding-right: 50px;
		}

		.tabs-widget .faq-box {
			display: flex;
			align-items: center;
		}

		.tabs-widget .faq-box h3 {
			font-family: 'Roboto Slab';
			font-size: 36px;
			color: #DD2327;
			margin-bottom: 10px;
			font-weight: bold;
		}

		.tabs-widget .faq-box p {
			font-size: 14px;
			color: #000000;
			font-family: 'Work Sans';
		}

		.tabs-widget .faq-item {
			font-family: 'Work Sans';
			font-size: 12px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #4A4A4A;
			padding-bottom: 10px;
			font-weight: bold;
			margin-left: 15px;
			margin-right: 15px;
			padding-left: 0px;
			padding-right: 0px;
		}

		.tabs-widget .faq-item.selected {
			color: #DD2327;
			border-bottom: solid 4px;
			text-decoration: none;
		}


		@media only screen and (max-width: 767px) {
			.tabs-widget .faq-box {
				display: block;
			}
			.tabs-widget .faq-content-inner, .tabsImage {
				width: 100%;
			}
			.tabsImage {
				height: 250px;
			}
		}

		/* Carousel 2 */

		.carousel-2-widget .myrow {
			background: #283884;
			align-items: flex-start;
		}

		.carousel-2-widget h5 {
			color: #fff;
			font-size: 36px;
			font-family: 'Roboto Slab';
			text-transform: none;
		}

		.carousel-2-widget .carousel_body {
			color: #fff;
		}

		.carousel-2-widget .bodyRight {
			padding: 0px;
			max-width: 100%;
			padding-left: 50px;
			padding-right: 50px;
			padding-top: 50px;
		}

		.carousel-2-widget .owl-nav {
			color: #fff;
			bottom: 27px;
		}

		.carousel-2-widget .imageLeft {
			width: 65%;
		}

		.carousel-2-widget .bodyRight {
			width: 35%;
		}

		@media only screen and (max-width: 1200px) {
			.carousel-2-widget .imageLeft {
				width: 50%;
			}
			.carousel-2-widget .bodyRight {
				width: 50%;
			}
		}

		@media only screen and (max-width: 767px) {
			.carousel-2-widget .imageLeft {
				width: 100%;
			}
			.carousel-2-widget .bodyRight {
				width: 100%;
				padding: 15px;
				padding-bottom: 50px;
			}
		}


		/* Dropdown */

		.sendfrom {
		    position: relative;
				padding-bottom: 15px;
		}

		.sendfrom {
		    list-style: none;
		}

		.sendfrom a {
		    padding-right: 2.4rem;
		    background: url(https://www.wirebarley.com/img/icon/icon-bullet-down.png) no-repeat 100% 50%;
		    position: relative;
		    text-decoration: none;
		    color: rgb(25, 27, 31);
		    font-weight: bold;
				transition: color 0.02s;
				font-size: 13px !important;
		}

		.sendfrom a:hover, .sendfrom a:focus, .sendfrom a:active {
			color: #00a479;
			transition: color 0.2s;
		}

		span {
		    margin: 0;
		    padding: 0;
		    border: 0;
		    font-size: inherit;
		    font: inherit;
		    color: inherit;
		    line-height: inherit;
		    vertical-align: baseline;
		}

		.sub-menu-wrap {
		    position: absolute;
		    top: 90%;
		    background: #fff;
		    border-radius: 0.8rem;
		    box-shadow: 0 0 4rem 0 rgba(25,27,31,0.16);
		    transform: translateY(-1500%);
		    transition: opacity 0.5s;
		    opacity: 0;
		    padding: 25px;
		    padding-top: 25px;
		    padding-bottom: 25px;
		}

		li.sub-menu.active>.sub-menu-wrap {
		    opacity: 1;
		    transform: translateY(0%);
		}

		.sub-menu.active>a:after {
		    position: absolute;
		    content: '';
		    top: 200%;
		    border-left: transparent solid 0.8rem;
		    border-right: transparent solid 0.8rem;
		    border-top: none;
		    border-bottom: 1rem solid #fff;
		    right: 0.5rem;
		    margin-top: -1rem;
		    z-index: 9;
		}

		.sendfrom .sub-menu-wrap {
		    left: 0;
		}

		.sub-menu-wrap ul {
		  padding-left: 0px;
		  list-style: none;
		}

		.sub-menu-wrap li {
		  margin-bottom: 15px;
		}

		.sub-menu-wrap ul li a {
		  display: flex;
		  align-items: center;
		  font-size: 16px;
		  color: rgb(25, 27, 31);
		  font-weight: bold;
		}

		.sub-menu-wrap ul li a img {
		  width: 25px;
		  margin-right: 10px;
		}

		.sub-menu-wrap a {
		  background: none;
		}

		.activeLink {
			color: #00a479 !important;
		}

		/* FORMS */

		.elementor_form_wrapper * {
			font-family: "News Cycle", Sans-serif;
		}

		.elementor_form_wrapper {
			min-height: 545px;
			overflow: hidden;
		}

		.overflow-hidden {
			overflow: hidden;
		}

		.form_header {
			margin-bottom: 25px;
		}

		.form_header a {
			text-transform: uppercase;
	    	margin-right: 15px;
	    	color: rgb(51, 51, 51);
	    	font-weight: bold;
	    	letter-spacing: 1.3px;
			font-size: 12px;
			padding-bottom: 5px;
			border-bottom: solid 1px transparent;
			cursor: pointer;
		}

		.form_header .active {
			border-bottom: solid 1px;
		}

		.signUp_body, .signIn_body {
			min-height: 190px;
	    position: absolute;
	    width: 100%;
			transition: all .3s ease-in;
		}

		.signUp_body {
			left: 0%;
		}

		.signIn_body {
			position: absolute;
			left: 110%;
		}

		.signIn_body.active {
			left: 0%;
		}

		.signUp_body.active {
			left: -110%;
		}

		.fieldWrapper {
			background: #fff;
	    	padding: 10px;
	    	border-radius: 5px;
			margin-bottom: 15px;
		}

		.fieldWrapper span {
			display: block;
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
			letter-spacing: 1px;
		}

		.fieldWrapper input {
			padding: 5px;
			width: 100%;
			margin-top: 5px;
			border: none;
			font-size: 16px;
			border: none !important;
			padding-left: 0px !important;
		}

		.elementor_form_wrapper button, .elementor_form_wrapper button:hover, .elementor_form_wrapper button:focus {
			text-align: center;
			display: block;
			padding: 15px 25px;
			background: #205b41;
			color: #fff;
			cursor: pointer;
			font-size: 16px;
			transition: .2s ease;
			width: 100%;
			border: none !important;
		}

		.fine_print span {
			font-size: 12px;
			display: block;
		}

		.fine_print a {
			font-weight: bold;
			color: #000;
		}

		.fine_print {
			margin-bottom: 10px;
			margin-top: 10px;
		}

		/* FOOTER */

.footer_buttons {
	display: flex;
    justify-content: flex-end;	
}

.footer_buttons .footer_button {
	display: block;
    width: 180px;
    background-color: #205b41;
	margin: 0px;
    margin-left: 30px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
    -webkit-transition: all .25s cubic-bezier(.31,-.105,.43,1.4);
    transition: all .25s cubic-bezier(.31,-.105,.43,1.4);
    padding: 10px 0;	
}

.footer_buttons .account_visible {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    transition: all .2s;	
}

.footer_buttons .account_visible span {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    color: #fff;	
}

.footer_buttons .account_selector {
	display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    border-top: solid 1px #fff;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 0px;
    -webkit-transition: all .25s cubic-bezier(.31,-.105,.43,1.4);
    transition: all .25s cubic-bezier(.31,-.105,.43,1.4);	
}

.footer_buttons .account_selector.reveal {
    max-height: 60px;
}

.footer_buttons .account_selector.reveal a {
    opacity: .5;
}

.footer_buttons .dim {
    opacity: .7;
}

.footer_buttons .account_selector a {
    width: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    margin-top: 5px;
    opacity: 0;
    display: block;
    color: #fff;
    margin: auto;
    width: 100%;
    text-align: center;
    font-family: 'News Cycle',sans-serif;
    text-transform: uppercase;
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 14px;	
	-webkit-transition: all .25s cubic-bezier(.31,-.105,.43,1.4);
    transition: all .25s cubic-bezier(.31,-.105,.43,1.4);	
}

.footer_buttons .account_selector a:hover {
	opacity: 1;
}

.footer_buttons .no_drop {
	padding-bottom: 0px;
	max-height: 45px;
}


		/* Hover Board */

		.board {
		  width: 100%;
		  min-height: 100vh;
		  position: relative;
		  background: #cdcdcd;
		}

		.board .bg {
		  position: absolute;
		  width: 100%;
		  height: 100%;
		  opacity: 0;
		  background: #000;
		  transition: all .2s;
		  background-size: cover;
		  background-position: center;
		  background-repeat: no-repeat;
		}

		.board .bg.active {
		  opacity: 1;
		  transition: all .2s;
		}

		.board .panel {
		  position: absolute;
		  height: 100%;	
		  width: 33%;
		}

		.board .panel1 {
			right: 0%;
		 	top: 0%;
			width: 33.33%;
		}

		.board .panel2 {
		 	left: 33%;
		}

		.board .panel3 {
			top: 0%;
			left: 0%;
			height: 100%;
		}

		.ticker {
			position: absolute;
	    top: 30%;
	    left: 0px;
	    padding: 15px 30px;
		}

		.ticker_1 {
			margin: 0px;
	    color: #fff;
	    text-transform: uppercase;
	    letter-spacing: 1px;
	    font-size: 16px;
		}

		.panel a {
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(0, 0, 0, 0.2);
		}



		/* END OF FILE */